/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;

  color-scheme: light dark;
  background-color: #f49191ad;
}

h1 {
  font-size: 4.5rem; 
  line-height: 1;
}

